[submodule "notebooks/reveal.js"]
	path = notebooks/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "doc/reveal.js"]
	path = doc/reveal.js
	url = https://github.com/hakimel/reveal.js.git
